//custom
@import '../../sass/_variables';
@import '../../sass/_mixins';



footer {
    position: absolute;
    left: 0;
    height: 150px;
    width: 100%;
}
.login {
    bottom: 0px;
    background: url(../../assets/images/bg-front.svg) no-repeat top -5px right -379px;
}


.logout {
    bottom: 0px;
    background: url(../../assets/images/bg-front.svg) no-repeat top 565px center;
}

ul li {
    list-style: none;
}