//custom
@import '../../sass/_variables';
@import '../../sass/_mixins';

footer {
    position: absolute;
    width: 100%;
}
.login {
    min-height: 250px;
    bottom: -200px;
    background: url(../../assets/images/bg-front.svg)  no-repeat top -4px left 650px;
    background-size: 95%;
}

.logout {
    min-height: 80px;
    bottom: 0px;
    background: url(../../assets/images/bg-front.svg) no-repeat top center; 
    background-size: 90%;
}

.login .footer-items {
    position: relative;
    bottom: 0;
}

ul li {
    list-style: none;
}
a:link, a:visited, .link-footer:link, .link-footer:visited {
   color: $body-text-color;
   text-decoration: none;
}
a:hover, .link-footer:hover {
    color: $a-links-purple;
    text-decoration: none;
}

@media (max-width: 767.98px) { 
    .login {
        background: url(../../assets/images/bg-front.svg) no-repeat top 40px right -65px;
        background-size: cover;
    }
    .logout {
        background: url(../../assets/images/bg-front.svg) no-repeat top 45px center;
        background-size: 180%;
    }
 }