//custom
@import '../../sass/_variables';
@import '../../sass/_mixins';

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 84px;
    width: 100%;
    margin-top: 30px;
}

.footer-login {
    background: url(../../assets/images/bg-front.svg) no-repeat top center;
}

.footer-logout {
    background: url(../../assets/images/bg-front.svg) no-repeat top center;
}