<footer *ngIf="!identitySvc.loggedIn" class="logout"></footer>
<footer *ngIf="identitySvc.loggedIn" class="login d-flex align-items-center align-items-md-end flex-column flex-md-row p-4 ml-4">
    <ul class="pr-3">
      <a class="link-footer" href="#">
        <li class="p-2">Quem somos</li>
      </a>
      <a class="link-footer" href="#">
        <li class="p-2">Como Funciona</li>
      </a>
      <a class="link-footer" href="#">
        <li class="p-2">FAQ's </li>
      </a>
      <a class="link-footer" href="#">
        <li class="p-2">Contato </li>
      </a>
    </ul>
    <ul class="pr-3">
      <a class="link-footer" href="#">
        <li class="p-2">Login </li>
      </a>
      <a class="link-footer" href="#">
        <li class="p-2">Cadastro </li>
      </a>
      <a class="link-footer" href="#">
        <li class="p-2">Termos de Uso </li>
      </a>
      <a class="link-footer" href="#">
        <li class="p-2">Privacidade </li>
      </a>
    </ul>
</footer>
