$mukta: 'Mukta', sans-serif;   
$open-sans: 'Open Sans', sans-serif;

$title-h1:27px;
$title-h2:20px;
$title-h3:16px;
$title-h2-color:#ffffff;

$body-text-color:#585859;

$a-links:#0077C5;

//color
$btn-background: #7626FF;
$btn-color: #ffffff;
$btn-font-size: 18px;
$btn-weight: bold;

$btn-only-border:#EAEAEC;
$btn-only-color:#585859;
$btn-only-background:#ffffff;

$card-background:#ffffff;
$card-title:#7626FF;