<section class="container align-items-center">
  <div class="row login align-items-center justify-content-center p-3">
    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
        <h1 class="main-title">Entrar</h1>
        <form class="">
          <div class="form-row">
              <div class="form-group col">
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="E-mail">
              </div>
          </div>
          <div class="form-row">
              <div class="form-group col">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
                <a class="text-right text-decoration-none font-weight-bold">
                  <small id="emailHelp" class="form-text text-muted text-right">ESQUECEU A SENHA?</small></a>
              </div>
          </div>
          <button type="submit" class="btn btn-login" (click)="login()">Entrar</button>
        </form>
        <div class="text-center">
          <a routerLink="/signup" class="text-decoration-none">Não tem uma conta? Cadastre-se</a>
        </div>
    </div>
  </div>
</section>