<section class="d-flex align-items-center justify-content-center">
  <article class="d-flex flex-column align-content-center justify-content-center">
    <form class="">
      <h1 class="main-title">Cadastrar</h1>
      <div class="col-12 col-sm-6">
        <div class="form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="E-mail">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
        </div>
      </div>
      <div class="col-12 col-sm-6">

      </div>
      <button type="submit" class="btn btn-login">Cadastrar</button>
    </form>
    <a [routerLink]="['/login']"  class="text-center text-decoration-none">Já tem uma conta? Faça login</a>
  </article>
</section>
