<section class="container align-items-center h-100">
    <div class="row signup align-items-center justify-content-center p-3">
      <div class="col-12 col-sm-6 col-md-6 col-lg-5">
          <h1 class="main-title mb-3">Cadastrar</h1>
          <form class="">
            <div class="form-row">
              <div class="col-12 col-sm-6">
                  <h3 class="main-subtitle">Informações Pessoais</h3>
                  <div class="form-group">
                      <input type="nameOrCompany" class="form-control" id="inputNameOrCompany" aria-describedby="nameOrCompanyHelp"
                        placeholder="Nome/Razão Social"> 
                  </div>
                  <div class="form-group">
                      <input type="CPF" class="form-control" id="inputCPF" aria-describedby="CPFHelp"
                        placeholder="CPF">
                  </div>
                  <div class="form-group">
                      <input type="phone" class="form-control" id="inputPhone" aria-describedby="PhoneHelp"
                        placeholder="Telefone">
                  </div>
                  <div class="form-group">
                      <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp"
                        placeholder="E-mail">
                  </div>
                  <div class="form-group">
                      <input type="password" class="form-control" id="InputPassword" placeholder="Senha" pw-show-hide>
                    </div>
              </div>
              <div class="col-12 col-sm-6">
                  <h3 class="main-subtitle">Endereço</h3>
                  <div class="form-group">
                      <input type="CEP" class="form-control" id="inputCEP" aria-describedby="CEPHelp"
                        placeholder="CEP"> 
                  </div>
                  <div class="form-group">
                      <input type="street" class="form-control" id="inputstreet" aria-describedby="streetHelp"
                        placeholder="Logradouro"> 
                  </div>
                  <div class="form-group">
                      <input type="number" class="form-control" id="inputNumber" aria-describedby="numberHelp"
                        placeholder="Número"> 
                  </div>
                  <div class="form-group">
                      <input type="neiborhood" class="form-control" id="inputNeiborhood" aria-describedby="neiborhoodHelp"
                        placeholder="Bairro"> 
                  </div>
              </div>
            </div>
           <button type="submit" class="btn btn-signup" (click)="login()">Cadastrar</button>
          </form>
          <div class="text-center">
            <a routerLink="/login" class="text-center text-decoration-none">Já tem uma conta? Faça login</a>
          </div>
      </div>
    </div>
</section>