<section class="main-section">
  <div class="container">
      <article class="row align-items-center justify-content-center h-100">
          <div class="col-12 text-center p-3">
            <h1><img class="p-3" src="../../assets/images/front-test.svg" alt="Front Test"></h1>
            <h2>Mussum Ipsum, cacilds vidis litro abertis. Casamentiss faiz malandris se pirulitá.</h2>
            <button type="button">Saiba mais</button>
          </div>
          <div class="card-options">
            <div class="op-one"></div>
            <div class="op-two"></div>
            <div class="op-three"></div>
          </div>
      </article>
    </div>
  </section>
