<section class="container main-section">
      <article class="row align-items-center justify-content-center headline">
          <div class="col-12 col-sm-12 col-md-5 text-center">
            <img class="front-test p-2 mt-4" src="../../assets/images/front-test.svg" alt="Front Test">
            <h2 class="subtitle">Mussum Ipsum, cacilds vidis litro abertis. Casamentiss faiz malandris se pirulitá.</h2>
            <button class="btn btn-only-border" type="button">Saiba mais</button>
          </div>
      </article>
      <div class="row align-items-center all-cards">
          <div class="col">
              <div class="card-option card-body d-flex flex-column align-items-center justify-content-center p-3 mb-3">
                  <h4 class="card-title pb-5">Mussum Ipsum, cacilds</h4>
                  <div class="purple d-flex align-items-center justify-content-center">
                    <img class="fingerprint" src="../../assets/images/fingerprint.svg" alt="Impressão digital">
                  </div>
                  <p class="text-center pt-5">Mussum Ipsum, cacilds vidis litro abertis. Casamentiss faiz malandris se pirulitá.</p>
                  <a href="#" class="btn btn-card">Saiba mais</a>
                  <div class="card-bottom"></div>
              </div>
          </div>
          <div class="col">
              <div class="card-option card-body d-flex flex-column align-items-center justify-content-center p-3 mb-3">
                  <h4 class="card-title pb-5">Mussum Ipsum, cacilds</h4>
                  <div class="purple d-flex align-items-center justify-content-center">
                    <img class="fingerprint" src="../../assets/images/fingerprint.svg" alt="Impressão digital">
                  </div>
                  <p class="text-center pt-5">Mussum Ipsum, cacilds vidis litro abertis. Casamentiss faiz malandris se pirulitá.</p>
                  <a href="#" class="btn btn-card">Saiba mais</a>
                  <div class="card-bottom-middle"></div>
              </div>
          </div>
          <div class="col">
              <div class="card-option card-body d-flex flex-column align-items-center justify-content-center p-3 mb-3">
                  <h4 class="card-title pb-5">Mussum Ipsum, cacilds</h4>
                  <div class="purple d-flex align-items-center justify-content-center">
                    <img class="fingerprint" src="../../assets/images/fingerprint.svg" alt="Impressão digital">
                  </div>
                  <p class="text-center pt-5">Mussum Ipsum, cacilds vidis litro abertis. Casamentiss faiz malandris se pirulitá.</p>
                  <a href="#" class="btn btn-card">Saiba mais</a>
                  <div class="card-bottom"></div>
              </div>
            </div>
        </div>
</section>
